@font-face {
    font-family: Marianaxxe;
    src: url('../font/MarianaxxeV4.ttf');
}

@font-face {
    font-family: Poppins;
    src: url("../font/Poppins-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

main {
    font-family: "Poppins";
}

main img {
    position: relative;
    left: 20%;
    top: -135px;
    border: 1px solid black;
    height: 400px;
    width: 400px;
    padding: 20px;
}

.article {
    position: relative;
    top: 150px;
    width: 35%;
    left: 55%;
}

select {
    width: 10%;
    height: 5%;
    background-color: burlywood;
    color: black;
    font-family: Marianaxxe;
    font-weight: bolder;
    font-size:1.899em;
    z-index: 3;
}

select option {
    font-family: Marianaxxe;
    font-weight: bolder;
}

.prix{
    font-size:1.225rem;
}