@font-face {
    font-family: Marianaxxe;
    src: url('../font/MarianaxxeV4.ttf');
}
@font-face {
    font-family: Poppins;
    src: url("../font/Poppins-Regular.ttf");
}

main {
    font-family: Poppins;
}

h1 {
    font-family: Marianaxxe;
    font-size: 4em;
}

h2 {
    text-align: center;
}

.formulaire {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5vh;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#form p {
    font-size: 1.2em;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin: 5vh;
}

.intitulé {
    font-size: 1.2em;
    font-weight: bold;
}

.method {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5vh;
}

#methodes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
}

input[type="radio"] {
    appearance: none;
    background-color: #FFFCF1;

    font: inherit;
    color: burlywood;
    height: 1em;
    width: 1em;
    border: 0.15em solid burlywood;

    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content:"";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    background-color: burlywood;
    transition: 120ms transform ease-in-out;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.reponse {
    display: flex;
    align-items: center;
    gap: 3px;
}

input[type="text"] {
    border: none;
    border-bottom: black solid 1px;
    background-color: #fff;
    font-family: Poppins;
    padding: 2px 5px;
}

.input-textarea {
    border: none;
    font-family: Poppins;
    padding: 5px;
    resize:none;
}

#envoyer{
    display: flex;
    justify-content: center;
}

.submit {
    margin: 1vh;
    padding: 1.2vh 2.5vw;
    background-color: burlywood;
    border-radius: 10px;
    font-family: Poppins;
    max-width: 15vw;
}

.submit:active{
    background-color: #FFFCF1;
}

.submit:hover{
    cursor: pointer;
}

.topper {
    background-image: url("../images/quizFondUp.png");
    background-size: cover;
    height: 5vh;
}
.downer {
    background-image: url("../images/quizFondDown.png");
    background-size: cover;
    height: 7vh;
}

.container {
    padding: 0 3vw;
}

.question , #envoyer {
    padding: 1vh 3vw;
    background-color: #f2f2f2;
}