@import url(public/font/MarianaxxeV4.ttf);
*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    border-bottom: solid 2px black;
    position: sticky;
    top: 0;
}

header img {
    height: 80px;
}

header ul {
    list-style-type: none;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header li {
    font-family: Marianaxxe;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}