@font-face {
    font-family: Marianaxxe;
    src: url('../font/MarianaxxeV4.ttf');
}
@font-face {
    font-family: Poppins;
    src: url("../font/Poppins-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    color: black;
}

body {
    background-color: #FFFCF1;
}

a {
    text-decoration: none;
    font-family: Poppins,sans-serif;
}

header {
    display: flex;

    border-bottom: solid 2px black;
    background-color: #FFFCF1;

    position: sticky;
    top: 0;
    z-index: 2;
}

header img {
    height: 80px;
    margin-left: 8vw;
}

header ul {
    list-style-type: none;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header li {
    margin-right: 8vw;
}

header a {
    text-decoration: none;
    font-size: 2rem;
    font-family: Marianaxxe;
}

footer {
    background-image:url("../images/footerBackground.png");
    background-size: cover;

    display: flex;
    align-items: flex-end;
    justify-content: space-around;

    width: 100%;
    height: fit-content;
    padding: 50px 0 10px 0;
}

footer ul {
    list-style-type: none;
}

.footer-left img {
    padding-right: 5px;
}