@font-face {
    font-family: Marianaxxe;
    src: url('../font/MarianaxxeV4.ttf');
}
@font-face {
    font-family: Poppins;
    src: url("../font/Poppins-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    color: rgb(33, 33, 33);
}


body {
    font-family:"Poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(0deg, #BE4B1D 0%, #ffffff 100%);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;   
    position: sticky;
    top: 0;
    z-index: 2;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.283);
}

img{
    height: 125px;
}

a{
    font-family: "Marianaxxe";
    font-size: 30px;
}

img#dessin{
    height: 225px;
    transform: rotate(30deg);
    
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.283);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

h1, h2, h3 {
    color: #333;
    font-family: "Marianaxxe";
    font-size: 40px;
}

.box {
    margin-top: 40px;
    padding: 10px;
    background-color: #ff59002f;
    border-radius: 10px;
    align-items: center;
 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #faf8f867;
    color: #fff;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: rgb(183, 80, 16);

}