
@font-face {
    font-family: Marianaxxe;
    src: url('../font/MarianaxxeV4.ttf');
}
@font-face {
    font-family: Poppins;
    src: url("../font/Poppins-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    color: rgb(33, 33, 33);
}


body {
    font-family:"Poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background: radial-gradient(#BE4B1D 0%, #ffffff 100%);

}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;   
    position: sticky;
    top: 0;
    z-index: 2;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.283);
}

.image1{
    height: 125px;
}

a{
    font-family: "Marianaxxe";
    font-size: 30px;
    color: #0f0f0f;
}  


.titre{
    font-family: "Marianaxxe";
    font-size: 27px; 
    margin-left: 230px;
    margin-top: 100px;
    margin-bottom: 40px;
    letter-spacing: -1px;

}

h3 {

    font-family: "Marianaxxe";
    font-size: 40px;
}

.minimoi{
    height: 500px;
    position: absolute;
    margin-top: -300px;
    margin-left: 750px;
    

}

.container div{
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1100px;
    margin: auto;
    padding: 20px;                                
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.283);
    border-radius: 20px;

}


.box1 div{
    background-color: #ff59002f;
    border-radius: 60px;
    display: inline-block;
    width: 350px;
    padding: 20px;
}

.box1 p{
    margin-top: 10px;
    width: 350px;
    height: 200px;

}

#camescope{
    display: inline-block;
    font-family:"Poppins";
    color: #0f0f0f;
    font-size: 10px;
    
}

#camescope img{
    border-radius: 20px;
    width: 475px;
    display: inline-block;
}

#camescope:hover{
    transform: scale(120%);
    transition-duration: 0.5s;
}


.box2 div{
    background-color: #ff59002f;
    border-radius: 60px;
    display: inline-block;
    width: 300px;
    padding: 20px;
    margin-left: 700px;

}

.box2 p{
    margin-top: 10px;
    width: 300px;
    height: 250px;
}


#story{
    width: 5px;
    height: 50px;
    margin-left: -1100px;
    margin-bottom: 200px;
    font-family:"Poppins";
    font-size: 10px;
    
    
}

#story img{
    display: inline-block;
    border-radius: 50px;
    height: 140px;
    margin-left: -1040px;
    margin-top: 50px;
}

#story:hover{
    transform: scale(105%);
    transition-duration: 0.5s;
}


.box3 div{
    background-color: #ff59002f;
    border-radius: 60px;
    display: inline-block;
    padding: 20px;
    width: 600px;

 
}

#boutique img{
    display: inline-block;
    width: 350px;

} 

#boutique:hover{
    transform: scale(120%);
    transition-duration: 0.5s;
}
       

.slogan{
    position: absolute;
    height: 225px;
    transform: rotate(25deg);
    z-index: 1; 
    margin-top: -115px;
    margin-left: -20px;
}
footer {
    text-align: center;
    padding: 2px;
    margin-top: 130px;
    background-color: #faf8f867;
    color: #fff;
    z-index: 2;
}

.social-icons a {
    text-align: center;
    text-decoration: none;
    color: #111111;
    transition: color 0.2s ease-in-out;

}
.social-icons a:hover {
    color: #BE4B1D;
}

.image2{
    height: 25px;
}

.image3{
    height: 25px;
}