@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');
@font-face {
    font-family: Marianaxxe;
    src: url("MarianaxxeV4.ttf");
}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFCF1 ;
}

p {
    font-family: "Poppins";
}

img {
    height: 215px;
    vertical-align: top;
}


h1{
    text-align: center;
    font-family: Marianaxxe;
    font-size: 40px;
}

#desc{
    display: inline-block; 
    width:44%;
    text-align:center;
    font-family:Poppins;
    vertical-align: top;
}

#captures {
    text-align: center;
}

.capture{
    display: inline-block;
    text-align: center;
    margin: 2% 5%;
}

.capture img{
    height: 60vh;
}

h5{
    font-family:"Poppins";
    font-size: 15px;
}

.pseudo{
    font-family:"Poppins";
    font-size: 13px;
}

a:hover {
    color: rgb(176, 100, 0);
}

li{
    font-family:"Poppins";
    text-decoration:none;
    width:15%;
    text-align:center;
    list-style-type: none;
    padding: 0% 15% 0% 15%;
    display: inline-block;
}

a{
    list-style-type: none;
    color: black;
}

#travail{
    width: 60%;
    text-align:center;
    margin: auto;
    padding: 3%;
    background-image: url(Feuille\ longue\ scotch\ haut.png) ;
    background-size: contain;

}

#travail p{
    padding-top: 10px;
}

#present{
    margin: auto;
    padding-left: 15%;
}

#engag{
    text-align: center;
    width: 50% ;
    margin: 2% 0% 10% 23%;
}

#sis, #bul {
    display: inline-block;
    margin-top: 0;
}

#bulsis {
     margin: auto;
     width: fit-content;
}

h2 {
    text-align: center;
    font-family: Marianaxxe;
    font-size: 40px;
}

#metier h2 {
    width: fit-content;
    display: inline-block;
    vertical-align: bottom;
    padding: 0 25%;
}

#panc, #tel{
    display: inline-block;
    margin: 0;
}

#metier {
    width: 90%;
    margin: auto;
    margin-top: 5%;
}


h3 {
    margin-top: 5%;
    text-align: center;
    font-family: Marianaxxe;
    font-size: 30px;
}