@font-face {
    font-family: Marianaxxe;
    src: url('../font/MarianaxxeV4.ttf');
}
@font-face {
    font-family: Poppins;
    src: url("../font/Poppins-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    color: black;
    list-style-type: none;
}

#img { 
    width: 200px;
    margin-right: -5px;
}
nav li {
     width: 200px;
    margin: 20px;
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    color: white;
}
a {
    text-decoration: none;
}

nav {
    text-align: center;
    background-color: #EB1A7E;
    
}

#identité img {
    width: 200px;
}