@font-face {
    font-family: Marianaxxe;
    src: url('../font/MarianaxxeV4.ttf');
}

@font-face {
    font-family: Poppins;
    src: url("../font/Poppins-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: #FFFCF1;
    font-family: Poppins;
}


h1 {
    font-family: 'Marianaxxe';
    margin: 5vh auto ;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
}

h3 {
    font-family: Marianaxxe;
    font-size: 2.5rem;
}

#slam h3 {
    width: fit-content;
    padding-right: 60vw;
    margin: 2vh auto;
}

.slamContent {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

#textSlam {
    max-width: 50vw;
}