@import url("public/font/MarianaxxeV4.ttf");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: aqua;
}

#video {
    text-align: center;
}

#gonz{
    font-family: 'MarianaxxeV4';
}